

h1 {
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 400;
    font-style: normal;
}

.introductory-heading {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px pink;
}

.introductory-paragraph {
    margin-top: -30px;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
} 

.introductory-paragraph-2 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 800;
    font-style: normal;
}

.container {
    background-color: rgb(225, 187, 194);
    padding: 30px;
    width: 1100px;
    margin: 20px auto;
    border-radius: 30px;
    text-align: center;
}

.menu.burger-header {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.burger-price {
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.burger-img {
    display: block;
    margin: 0 auto;
}

.menu {
    display: inline-block;
    width: 110px;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    vertical-align: top;
    transition: background-color 0.3s;
}

.menu.highlight {
    background-color: #ab5279;
    color: white;
}

.menu:hover {
    outline: 4px solid #ab5279;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
}

input[type=radio] + img {
    width: 100px;
    cursor: pointer;
}

.summary {
    display: inline-block;
    width: 150px;
}

.margin {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    width: 100px;
}

.full-price-section {
    text-align: center;
    display: none;
}

.total-price-section {
    text-align: center;
    display: none;
}

.order-button {
    display: block;
    width: 150px;
    margin: 0px auto;
    height: 30px;
    border: none;
    background-color: pink;
    color: white;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(198, 192, 192);
    color: rgb(118, 69, 77);
    border: 2px solid rgb(181, 82, 99);
}








