





h1, h2 {
   font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 400;
  font-style: normal;
}

div {
    display: block;
}


div .burger-header {
    margin-left: 450px;
}


div .burger-price {
    margin-top: -20px;
    margin-left: 465px;

}

div .burger-heading-2 {
    margin-top: -40px;
    margin-left: 460px;
}

div .burger-price-2 {
    margin-left: 460px;
    margin-top: -20px;
}

div .burger-price-3 {
    margin-left: 465px;
    margin-top: -2px;
}

div .burger-heading-4 {
    margin-left: 460px;
    margin-top: -40px;
}


div .burger-price-4 {
    margin-left: 465px;
    margin-top: -15px;
}














div label {
    display: inline-block;
    width: 150px;
}

div input {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}



div .introductory-heading {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px pink;
}


div .introductory-paragraph {
    margin-top: -30px;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
} 


 .introductory-paragraph-2 {
    text-align: center;
    margin-bottom: -50px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {

width: 100px;
padding-left: 430px;
cursor: pointer;
}


label .burger-img-1 {
    margin-top: -40px;
}





[type=radio]:checked + img{
   outline: 2px solid #ab527800;
} 


.container {
    background-color: rgb(225, 187, 194);
    padding: 30px ;
    width: 1100px;
    margin: 50px 60px;
    border-radius: 30px;
}

.btn {
    display: inline-block;
    width: 100px;
}


.full-price-section {
    text-align: center;
}



.icon {
    width: 30px !important;
    margin-left: -350px;
}








